@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.inner {
    width: 1024px;
    margin: 0 auto;
}

.btn {
    width: 90px;
    height: 35px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 600;
}

.hidden {
    display: none;
}

/* HEADER */

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 25px;
    font-family: 'Fira Mono', monospace;
}

header .btn-group {
    display: flex;
    align-items: center;
}

header .btn-group .icons {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
header .btn-group .btn a {
    color: #fff;
}

header .btn-group .icons:hover {
    background-color: #e5e5e5;
}

header .btn-group .btn {
    margin-left: 5px;
}

header .btn-group .btn:hover {
    background-color: #434343;
}

/* NAV */
nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    cursor: pointer;
}

nav .left-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

nav .left-nav .item {
    width: 110px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .left-nav .item:first-child {
    color: #000;
    border-bottom: 2px solid;
}

nav .left-nav .item {
    color: #c8c8c8;
}

nav .left-nav .item span {
    margin-right: 10px;
}

nav .left-nav .drop-group {
    display: flex;
    flex-direction: column;
}

nav .left-nav .drop-group .drop-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    color: #c8c8c8;
    border-radius: 2px;
    background-color: #fff;
}

nav .left-nav .drop-group .dropdown-content {
    width: 130px;
    height: 140px;
    border-radius: 8px;
    margin-top: 5px;
    overflow: scroll;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
    position: relative;
}

nav .left-nav .drop-group .dropdown-content li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    color: #848484;
    border-top: 1px solid gray;
}

nav .left-nav .drop-group .dropdown-content li:hover {
    color: #000;
    font-weight: bold;
    background-color: #ebebeb;
}

nav .left-nav .drop-box p {
    margin-left: 10px;
}

nav .left-nav .drop-box:hover {
    color: #848484;
    font-weight: 600;
}

/* main */
main {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

main .post {
    width: 320px;
    height: 377px;
    box-shadow: 5px gray;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 50px;
}

main .post .post__img img {
    width: 320px;
    height: 150px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

main .post .post__contents {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    color: c8c8c8;
}

main .post .post__contents .contents {
    color: #c8c8c8;
    font-size: 14px;
}

main .post .post__contents .contents .title {
    color: black;
    margin-bottom: 10px;
}

main .post .post__contents .date {
    font-size: 14px;
    color: #868686;
}

main .post .post__host {
    height: 52px;
    border-top: 1px solid #c8c8c8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

main .post .post__host .profile {
    display: flex;
    align-items: center;
}

main .post .post__host .profile .profile__img {
    margin-right: 5px;
}

main .post .post__host .profile .profile__img img {
    width: 24px;
    height: 24px;
}

main .post .post__host .like {
    display: flex;
    align-items: center;
    font-size: 14px;
}

main .post .post__host .like span {
    font-size: 14px;
    margin-right: 5px;
}
