@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.inner {
  margin: 0 88px;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  width: 90px;
  height: 35px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: large;
  font-weight: 600;
}

/* HEADER */

header {
  height: 64px;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner .logo a img {
  height: 64px;
}

header .inner .btn-group {
  display: flex;
  align-items: center;
}

header .inner .btn-group button {
  margin-left: 20px;
}
