@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    padding: 10px 20px;
}

body input {
    width: 100%;
    background-color: orange;
}
